root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.yml]
indent_size = 2

[*.json]
indent_size = 2

[Makefile]
indent_style = tab

[*.rst]
indent_size = 3

[conda/build]
insert_final_newline = false

[requirements.txt]
indent_size = 2
