[[source]]
name = "tuna"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[[source]]
name = "sjtu"
url = "https://mirrors.sjtug.sjtu.edu.cn/pypi/web/simple"
verify_ssl = true

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
aenum = "*"
chardet = "*"
dictdumper = "~=0.8.0"
emoji = "*"
tbtrim = "~=0.3.0"

[dev-packages]
pypcapkit = {editable = true,path = "."}
pyshark = "*"
dpkt = "*"
scapy = "*"
beautifulsoup4 = {extras = ["html5lib"],version = "*"}
requests = {extras = ["socks"],version = "*"}
ipython = "*"
autopep8 = "*"
bandit = "*"
mypy = "*"
pylint = "*"
sphinx = "*"
doc8 = "*"
rstcheck = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
