[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chardet = "*"
aenum = "*"
setuptools = "*"
dictdumper = "*"
emoji = "*"

[dev-packages]
pcapkit = {editable = true, path = "."}
pyshark = "*"
dpkt = "*"
scapy = "*"
"beautifulsoup4" = "*"
"html5lib" = "*"
requests = "*"
ipython = "*"
rope = "*"
"autopep8" = "*"
pylint = "*"
pycodestyle = "*"
isort = {extras = ["pipfile", "requirements"], version = "*"}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
