-i https://pypi.tuna.tsinghua.edu.cn/simple
--extra-index-url https://mirrors.sjtug.sjtu.edu.cn/pypi/web/simple
--extra-index-url https://pypi.org/simple
-e .
aenum==2.2.4
alabaster==0.7.12
appnope==0.1.0 ; sys_platform == 'darwin'
astroid==2.4.2
autopep8==1.5.3
babel==2.8.0
backcall==0.2.0
beautifulsoup4[html5lib]==4.9.1
certifi==2020.6.20
chardet==3.0.4
decorator==4.4.2
dictdumper==0.8.4.post2
doc8==0.8.1
docutils==0.16
dpkt==1.9.3
html5lib==1.1
idna==2.10
imagesize==1.2.0
ipython-genutils==0.2.0
ipython==7.16.1
isort==5.2.0
jedi==0.17.2
jinja2==3.0.0a1
lazy-object-proxy==1.5.1
lxml==4.5.2
markupsafe==2.0.0a1
mccabe==0.6.1
packaging==20.4
parso==0.7.0
pbr==5.4.5
pexpect==4.8.0 ; sys_platform != 'win32'
pickleshare==0.7.5
pockets==0.9.1
prompt-toolkit==3.0.5
ptyprocess==0.6.0
py==1.9.0
pycodestyle==2.6.0
pygments==2.6.1
pylint==2.5.3
pyparsing==3.0.0a2
pyshark==0.4.2.11
pysocks==1.7.1
pytz==2020.1
requests[socks]==2.24.0
restructuredtext-lint==1.3.1
rstcheck==3.3.1
scapy==2.4.3
six==1.15.0
snowballstemmer==2.0.0
soupsieve==2.0.1
sphinx==3.1.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-napoleon==0.7
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
stevedore==3.2.0
tbtrim==0.3.1
toml==0.10.1
traitlets==4.3.3
urllib3==1.25.9
wcwidth==0.2.5
webencodings==0.5.1
wrapt==1.12.1
