<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PCAP File Extractor</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <!-- main page styles -->
        <link rel="stylesheet" href="treeview.css">
    </head>
    <body>
        <script src="https://unpkg.com/vue@2.5.6/dist/vue.js"></script>
        <!-- item template -->
        <script type="text/x-template" id="item-template">
          <li>
            <div
              :class="{bold: isFolder}"
              @click="toggle"
              @dblclick="changeType">
              {{model.name}}
              <span v-if="isFolder">[{{open ? '-' : '+'}}]</span>
            </div>
            <ul v-show="open" v-if="isFolder">
              <item
                class="item"
                v-for="model in model.children"
                :model="model">
              </item>
              <li class="add" @click="addChild">+</li>
            </ul>
          </li>
        </script>

        <p>(You can double click on an item to turn it into a folder.)</p>

        <!-- the demo root element -->
        <ul id="demo">
          <item
            class="item"
            :model="treeData">
          </item>
        </ul>

        <script src="treeview.js"></script>
    </body>
</html>
