Sphinx==9.0.1

# extentions
sphinx-autodoc-typehints==3.5.2
furo==2025.9.25
sphinxext-opengraph==0.9.1
sphinx-copybutton==0.5.2
sphinxcontrib-mermaid==0.9.2

# auxiliary
typing-extensions==4.12.2
mypy-extensions==1.0.0
