Sphinx==9.0.4

# extentions
sphinx-autodoc-typehints==3.6.0
furo==2025.9.25
sphinxext-opengraph==0.13.0
sphinx-copybutton==0.5.2
sphinxcontrib-mermaid==1.2.3

# auxiliary
typing-extensions==4.15.0
mypy-extensions==1.0.0
